.block{
    margin-top: 13%;
    margin-bottom: 13%;
    margin-right: 35%;
    margin-left: 35%;
    background: rgb(33, 37, 41);
    border-radius: 10px;
}
.text {
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    color:rgb(167, 167, 168);
    font-size: large;
}